.menu-principal {
    background-color: rgb(8, 36, 90);
    color: white;
}
.card-background {
    background-color: rgb(189, 149, 0);
    color: white;
}
.transparent-button span {
    color: rgb(0, 0, 0);
    }
.btn {
    color: rgb(0, 0, 0);
}
h1{
    background-color: rgb(8, 36, 90);
    color: white;
}
/* Cambiar color de fondo de la barra de navegación */
.navbar {
    background-color:rgb(8, 36, 90); /* Nuevo color de fondo */
}
.carousel-img {
    max-width: 70%; /* Establece el tamaño máximo de las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}



